<ul class="challenges">
  <% @challenges.each do |challenge| %>
  <li>
    <%= challenge.challenge %>
  </li>
  <% end %>
</ul>

<form action="/challenges" method="post" id="challenges-form">
  <fieldset>
    <legend>Add a Challenge</legend>
    <input id="challenge" name="challenge" type="text"></input>
    <input type="submit"></input>
  </fieldset>
</form>
